:root {
	/* Breakpoints */
	--breakpoint-small: 600px;
	--breakpoint-medium: 768px;
	--breakpoint-large: 992px;
	--breakpoint-xlarge: 1200px;

	/* Colors */
	--color-blue: #0073c0;
	--color-purple: #743ad5;
	--color-pink: #d53a9d;

	/* Fonts */
	--font-stack: "Gill Sans", "Gill Sans MT", "Calibri", sans-serif;
}

/* ELEMENT SELECTORS */

a {
	color: var(--color-blue);
}

body {
	border-image: linear-gradient(to right, var(--color-purple), var(--color-pink)) 1;
	border-top: solid 5px var(--color-purple);
	display: grid;
	grid-template-columns: 10% 80% 10%;
	grid-template-rows: auto;
	grid-template-areas: ". header ." ". main ." ". footer .";
	font-family: var(--font-stack);
	overflow-x: hidden;
	scrollbar-color: var(--color-purple) var(--color-pink);
}

details {
	padding: .5rem;
}

footer {
	grid-area: footer;
	height: 5rem;
	text-align: center;
}

h1,
h2,
h3 {
	line-height: 1.2;
}

h1 {
	font-size: 2.4em;
}

h2 {
	font-size: 1.77em;
}

h3 {
	font-size: 1.33em;
}

header {
	grid-area: header;
	margin-top: 1rem;
	text-align: center;
}

[hidden] {
	display: none;
}

figcaption {
	font-weight: bold;
	text-align: center;
}

figure {
	margin: 0;
}

nav {
	align-items: center;
	display: flex;
	justify-content: space-between;
}

nav ul {
	list-style: none;
	padding: 0;
}

nav ul li {
	display: inline-block;
	padding-left: 1rem;
	padding-right: 1rem;
	position: relative;
	text-align: left;
}

/* Hover over main menu items */
/* nav ul li:hover {
	background-color: var(--color-purple);
} */

nav ul li a {
	text-decoration: none;
}

nav ul li:hover ul {
	background-color: white;
	display: block;
}

nav ul li ul {
	/* border-bottom: 1px solid black;
	border-left: 1px solid black;
	border-right: 1px solid black; */
	display: none;
	height: auto;
	left: 0px;
	padding: .5rem 0 0 0;
	position: absolute;
	white-space: nowrap;
	width: auto;
}

nav ul li ul li:hover {
	background: lightgray;

}

/* Display list item decoration on hover */
/* nav ul li ul li:hover:before {
	content:"\2022";
	margin-right: 5px;
} */

nav ul li ul li,
nav ul li ul li a {
	display: block;
}

main {
	grid-area: main;
}

main > * {
	margin-top: 1rem;
}

pre {
	border: 1px solid var(--color-blue);
	margin: .5rem 0 0 0;
}

p q {
	font-style: italic;
}

style,
script {
	font-family: monospace, monospace; /* monospace font */
	white-space: pre; /* behave like <pre> */
}

table {
	text-align: center;
}

tr,
td {
	border: 1px solid black;
}

textarea {
	border: 1px solid var(--color-blue);
	scrollbar-base-color: var(--color-blue);
	scrollbar-face-color: var(--color-blue);
	scrollbar-track-color: var(--color-blue);
	margin-top: .5rem;
}

textarea:read-only {
	border: none;
	resize: none;
}

[contenteditable] {
	/* will match all elements with contenteditable attribute */
	display: block;
}

:focus {
	outline: 2px dotted var(--color-blue);
	outline-offset: 0.25rem;
}

/* MEDIA QUERIES */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
	body {
		grid-template-columns: 3% 94% 3%;
		/* width: 95vw; */
		/* 570 px */
	}

	textarea {
		width: 90%;
	}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
	body {
		grid-template-columns: 5% 90% 5%;
		/* width: 90vw; */
		/* 540 px */
	}

	textarea {
		width: 90%;
	}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	body {
		grid-template-columns: 12.5% 75% 12.5%;
		/* width: 75vw; */
		/* 576px */
	}

	textarea {
		width: 95%;
	}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	body {
		grid-template-columns: 20% 60% 20%;
		/* width: 60vw; */
		/* 595.2 px */
	}

	textarea {
		width: 100%;
	}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
	body {
		grid-template-columns: 25% 50% 25%;
		/* width: 50vw; */
		/* 600 px */
	}

	textarea {
		width: 100%;
	}
}

/* Blocks */

/* Utilities */
.arrow {
	border: solid white;
	border-width: 0 3px 3px 0;
	display: inline-block;
	padding: 3px;
}

.button {
	background-color: black;
	border: 5px solid var(--color-purple);
	color: white;
	display: block;
	margin: 1rem auto;
	padding: 1rem;
	text-align: center;
	width: 60%;
}

.button:hover {
	background-color: white;
	border-image: linear-gradient(to right, var(--color-purple), var(--color-pink)) 1;
	color: black;
}

.button:hover > .arrow {
	border: solid black;
	border-width: 0 3px 3px 0;
}

.code {
	display: grid;
	grid-gap: 1rem;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 2;
}

/* Method utilized from
https://stackoverflow.com/questions/12813573/position-icons-into-circle
 */
.color-wheel-hsl {
	background: conic-gradient(
		hsl(0, 100%, 50%),
		hsl(30, 100%, 50%),
		hsl(60, 100%, 50%),
		hsl(90, 100%, 50%),
		hsl(120, 100%, 50%),
		hsl(150, 100%, 50%),
		hsl(180, 100%, 50%),
		hsl(210, 100%, 50%),
		hsl(240, 100%, 50%),
		hsl(270, 100%, 50%),
		hsl(300, 100%, 50%),
		hsl(330, 100%, 50%),
		hsl(360, 100%, 50%)
	);
	position: relative;
	width: 24em;
	height: 24em;
	border-radius: 50%;
	margin: 5em;
}

.color-wheel-hsl span {
	display: block;
	font-weight: bold;
	position: absolute;
	top: 50%; left: 50%;
	width: 4em; height: 4em;
	margin: -1em;
}

.deg000 { transform: translate(14em); }
.deg030 { transform: rotate(30deg)  translate(14em) rotate(-30deg); }
.deg060 { transform: rotate(60deg)  translate(14em) rotate(-60deg); }
.deg090 { transform: rotate(90deg)  translate(14em) rotate(-90deg); }
.deg120 { transform: rotate(120deg) translate(14em) rotate(-120deg); }
.deg150 { transform: rotate(150deg) translate(14em) rotate(-150deg); }
.deg180 { transform: rotate(180deg) translate(14em) rotate(-180deg); }
.deg210 { transform: rotate(210deg) translate(14em) rotate(-210deg); }
.deg240 { transform: rotate(240deg) translate(14em) rotate(-240deg); }
.deg270 { transform: rotate(270deg) translate(14em) rotate(-270deg); }
.deg300 { transform: rotate(300deg) translate(14em) rotate(-300deg); }
.deg330 { transform: rotate(330deg) translate(14em) rotate(-330deg); }

.construction {
	margin: 0 auto;
	text-align: center;
}

.block {
	display: inline-block;
}

.diagram {
	width: 100%;
}

.ex-alphachannel {
	background-color: hsla(30, 75%, 57%, 0.25);
	color: hsla(225, 73%, 57%, 0.75);
}

.lyrics {
	color: royalblue;
	line-height: 120%;
}

.nav-link {
	padding-left: .5rem;
	padding-right: .5rem;
}

.left {
	transform: rotate(135deg);
	-webkit-transform: rotate(135deg);
}

li.priority {
	font-weight: bold;
}

.right {
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
}

#call-to-action {
	background-color: lightgray;
	color: blueviolet;
}

#menu-title {
	align-self: flex-start;
	border: 2px solid darkorchid;
	background-color: black;
	color: white;
	font-size: 20px;
	font-weight: bold;
	padding-left: .5ch;
	margin-top: 1ch;
	text-decoration: none;
}

#menu-title img {
	display: inline-block;
	height: 24px;
	padding-left: .1ch;
	vertical-align: text-top;
}
