:root {
	/* Breakpoints */
	--breakpoint-small: 600px;
	--breakpoint-medium: 768px;
	--breakpoint-large: 992px;
	--breakpoint-xlarge: 1200px;

	/* Colors */
	--color-blue: #0073c0;
	--color-purple: #743ad5;
	--color-pink: #d53a9d;

	/* Fonts */
	--font-stack: "Gill Sans", "Gill Sans MT", "Calibri", sans-serif;
}

/* ELEMENT SELECTORS */

a {
	color: var(--color-blue);
}

body {
	border-image: linear-gradient(to right, var(--color-purple), var(--color-pink)) 1;
	border-top: solid 5px var(--color-purple);
	display: flex;
	flex-direction: column;
	font-family: var(--font-stack);
	overflow-x: hidden;
	scrollbar-color: var(--color-purple) var(--color-pink);
}

details {
	background: rgb(224, 224, 224);
	border: 1px solid gray;
	padding: .5rem;
}

details p {
	margin-top: 1rem;
}

dl > div {
	border: 1px solid black;
	flex: 1 1 8ch;	
	margin: 1px;
	text-align: center;
}

dt, dd {
	padding: 1px;
}

footer {
	margin: 1rem auto;
	padding: 1rem;
	text-align: center;
	max-width: 80ch;
	width: 100%;
}

footer > nav > a {
	text-decoration: none;
}

footer > nav > a > img {
	display: inline-block;
	height: 24px;
	padding-left: .1ch;
	vertical-align: text-top;
}

h1,
h2,
h3 {
	line-height: 1.2;
}

h1 {
	font-size: 2.4em;
}

h2 {
	font-size: 1.77em;
}

h3 {
	font-size: 1.33em;
}

header {
	margin: 1rem auto;
	padding: 1rem;
	text-align: center;
	max-width: 80ch;
	width: 100%;
}

[hidden] {
	display: none;
}

figcaption {
	font-size: 16px;
	font-weight: bold;
	padding: .5rem;
	text-align: left;
}

figure {
	font-size: 14px;
	margin: 0;
	position: relative;
}

main {
	margin: 0 auto;
	max-width: clamp(360px, 80ch, 1100px);
	padding: 0 1rem;
	width: 100%;
}

main > * {
	margin-top: 1rem;
}

nav {
	align-items: center;
	display: flex;
	justify-content: space-between;
}

nav ul {
	list-style: none;
	padding: 0;
}

nav ul li {
	display: inline-block;
	padding: 0 .5rem;
	position: relative;
	text-align: left;
}

nav ul li:hover a {
	color: var(--color-blue);
}

nav ul li a {
	text-decoration: none;
}

nav ul li:hover ul {
	background-color: white;
	display: block;
}

nav ul li ul {
	border: 1px solid black;
	display: none;
	height: auto;
	left: 0px;
	padding: .5rem 0 .5rem 0;
	position: absolute;
	white-space: nowrap;
	width: auto;
}

nav ul li ul li:hover a {
	color: var(--color-pink);
}

nav ul li ul li,
nav ul li ul li a {
	display: block;
}

pre {
	margin: 0;
	padding: .5rem;
}

p q {
	font-style: italic;
}

style,
script {
	/* font-family: monospace, monospace; /* monospace font */ 
	white-space: pre-wrap; /* behave like <pre> */
}

table {
	border-collapse: collapse;
	text-align: center;
}

th {
	text-align: left;
}

tr,
td {
	border: 1px solid black;
	padding: 5px;
}

textarea {
	padding: .5rem;
	resize: none;
	width: 100%;
}

textarea:read-only {
	border: none;
	/* scrollbar-base-color: var(--color-blue);
	scrollbar-face-color: var(--color-blue);
	scrollbar-track-color: var(--color-blue); */
	width: 100%;
}

[contenteditable] {
	/* will match all elements with contenteditable attribute */
	display: block;
}

:focus {
	outline: 2px dotted var(--color-blue);
	outline-offset: 0.25rem;
}

/* Composition */

/* Blocks */
.tutorial-navigation {
	display: flex;
	align-content: space-between;
	grid-gap: 1rem;
}

/* Utilities */
.arrow {
	border: solid white;
	border-width: 0 3px 3px 0;
	display: inline-block;
	padding: 3px;
}

.back {
	width: 30%;
}

.forward {
	width: 70%;
}

.button {
	background-color: black;
	border: 5px solid var(--color-purple);
	color: white;
	display: block;
	font-size: 1.1em;
	margin: 1rem auto;
	padding: 1rem;
	text-align: center;
	/* width: 90%; */
}

.button:hover {
	background-color: white;
	border-image: linear-gradient(to right, var(--color-purple), var(--color-pink)) 1;
	color: black;
}

.button:hover > .arrow {
	border: solid black;
	border-width: 0 3px 3px 0;
}

.code {
	display: flex;
	grid-gap: .5rem;
	flex-direction: column;
}

.code > * {
	width: 100%;
}

.css {
	border: 1px solid var(--color-purple);
}

.css > figcaption {
	background-color: var(--color-purple);
	border-bottom: 1px solid var(--color-purple);
	color: white;
}

.edit-me {
	bottom: 0;
	color: gray;
	font-size: 90%;
	position: absolute;
	right: .5rem;
}

.html {
	border: 1px solid var(--color-blue);
}

.html > figcaption {
	background-color: var(--color-blue);
	border-bottom: 1px solid var(--color-blue);
	color: white;
}

.display {
	border: 1px solid gray;
}

.display > figcaption {
	background-color: lightgray;
	border-bottom: 1px solid gray;
}

.display > * {
	padding: .5rem;
}

/* Method utilized from
https://stackoverflow.com/questions/12813573/position-icons-into-circle
 */
.color-wheel-hsl {
	background: conic-gradient(
		hsl(0, 100%, 50%),
		hsl(30, 100%, 50%),
		hsl(60, 100%, 50%),
		hsl(90, 100%, 50%),
		hsl(120, 100%, 50%),
		hsl(150, 100%, 50%),
		hsl(180, 100%, 50%),
		hsl(210, 100%, 50%),
		hsl(240, 100%, 50%),
		hsl(270, 100%, 50%),
		hsl(300, 100%, 50%),
		hsl(330, 100%, 50%),
		hsl(360, 100%, 50%)
	);
	position: relative;
	width: 24em;
	height: 24em;
	border-radius: 50%;
	margin: 5em;
}

.color-wheel-hsl span {
	display: block;
	font-weight: bold;
	position: absolute;
	top: 50%; left: 50%;
	width: 4em; height: 4em;
	margin: -1em;
}

.deg000 { transform: translate(14em); }
.deg030 { transform: rotate(30deg)  translate(14em) rotate(-30deg); }
.deg060 { transform: rotate(60deg)  translate(14em) rotate(-60deg); }
.deg090 { transform: rotate(90deg)  translate(14em) rotate(-90deg); }
.deg120 { transform: rotate(120deg) translate(14em) rotate(-120deg); }
.deg150 { transform: rotate(150deg) translate(14em) rotate(-150deg); }
.deg180 { transform: rotate(180deg) translate(14em) rotate(-180deg); }
.deg210 { transform: rotate(210deg) translate(14em) rotate(-210deg); }
.deg240 { transform: rotate(240deg) translate(14em) rotate(-240deg); }
.deg270 { transform: rotate(270deg) translate(14em) rotate(-270deg); }
.deg300 { transform: rotate(300deg) translate(14em) rotate(-300deg); }
.deg330 { transform: rotate(330deg) translate(14em) rotate(-330deg); }

.construction {
	margin: 0 auto;
	text-align: center;
}

.block {
	display: inline-block;
}

.diagram {
	width: 100%;
}

.ex-alphachannel {
	background-color: hsla(30, 75%, 57%, 0.25);
	color: hsla(225, 73%, 57%, 0.75);
}

.lyrics {
	color: royalblue;
	line-height: 120%;
}

.left {
	transform: rotate(135deg);
	-webkit-transform: rotate(135deg);
}

li.priority {
	font-weight: bold;
}

.pro-con {
	display: grid;
	grid-template-columns: 50% 50%;
	grid-template-rows: auto;
}

.right {
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
}

#call-to-action {
	background-color: lightgray;
	color: blueviolet;
}


#menu-title {
	align-self: flex-start;
	border: 2px solid darkorchid;
	background-color: black;
	color: white;
	font-size: 20px;
	font-weight: bold;
	padding-left: .5ch;
	margin-top: 1ch;
	text-decoration: none;
}

#menu-title img {
	display: inline-block;
	height: 24px;
	padding-left: .1ch;
	vertical-align: text-top;
}

/* MEDIA QUERIES */

/* Extra, extra small devices (phones, 425px and down) */
@media only screen and (max-width: 425px) {
	#menu-title {
		padding-left: 0;
	}

	#menu-title img {
		padding-left: 0;
	}

	#menu-title span {
		display: none;
	}	
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	html {
		font-size: 105%;
	}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	html {
		font-size: 110%;
	}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
	html {
		font-size: 115%;
	}

	.code {
		flex-direction: row;
	}
}